


<div th:fragment="userBottomNav" class="row fixed-bottom text-center container-mv user-bottomnav">
    <div class="col">
      <div class="row px-3 pb-2 mt-2">
        <div class="col">
          <a class="link_none nav-item" href="/fitnessfootball/mainPage">
            <div class="row fs-1-5">
              <div class="col">
                <i class="bi bi-house"></i>
              </div>
            </div>
            <div class="row fs-0-7">
              <div class="col" id="home">홈</div>
            </div>
          </a>
        </div>
        <div class="col">
          <a class="link_none nav-item" href="/fitnessfootball/shopPage">
            <div class="row fs-1-5">
              <div class="col">
                <i class="bi bi-gift"></i>
              </div>
            </div>
            <div class="row fs-0-7">
              <div class="col" id="product">상품</div>
            </div>
          </a>
        </div>
        <div class="col">
          <a class="link_none nav-item" href="/fitnessfootball/boardPage">
            <div class="row fs-1-5">
              <div class="col">
                <i class="bi bi-share"></i>
              </div>
            </div>
            <div class="row fs-0-7">
              <div class="col" id="share">운동공유방</div>
            </div>
          </a>
        </div>
        <div class="col">
          <a class="link_none nav-item" href="#">
            <div class="row fs-1-5">
              <div class="col">
                <i class="bi bi-person-lines-fill"></i>
              </div>
            </div>
            <div class="row fs-0-7">
              <div class="col">레슨신청</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  